<article id="photo-stream">
  <% @photos.each do |photo|  %>
    <a href='<%= photo_path(photo)%>'><%= image_tag photo.image.url(:medium) %></a>
    <%= photo.description %>
  <% end %>
</article>
<%= javascript_include_tag 'http://js.pusher.com/2.1/pusher.min.js' %>
<%= javascript_tag "Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('58cfbb27046afbc265f1');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data);
    });" %>
