<!DOCTYPE html>
<html>
<head>
  <title>DeathStarPhotoService</title>
  <%= javascript_include_tag 'http://js.pusher.com/2.1/pusher.min.js' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/"><%= image_tag("logo.png") %></a>
    <nav>
      <ul>
        <li><a href="/users/sign_up" title="">Sign Up</a></li>
        <li><a href="/users/sign_in" title="">Sign In</a></li>
        <li><a href="/photos/new" title="">Add Photo</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
